<div>
  <div class="row">
    <section class="header-main border-bottom bg-white">
      <div class="container-fluid">
        <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
          <div class="col-md-2">
            <div class="logo">
              <img
                src="https://images.unsplash.com/photo-1534960680480-ca9853707e10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2384&q=80"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex form-inputs">
              <input
                class="form-control"
                type="text"
                placeholder="Search any product..."
              />
              <i class="bi bi-search"></i>
            </div>
          </div>

          <!-- <div class="col-md-2">
            <div class="d-flex d-none d-md-flex flex-row align-items-center">
              <span class="shop-bag"><i class="bi bi-cart"></i></span>
              <div class="d-flex flex-column ms-2">
                <span class="qty">1 Product</span>
                <span class="fw-bold">$27.90</span>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
  </div>
</div>
